.main {
  position: relative;
}

.top {
  display: block;
  position: relative;
  visibility: hidden;

  top: -100vh;
}
.aboutme {
  position: absolute;
  left: 50%;
  top: -4rem;
}

.chivato {
  position: absolute;
  top: 60vh;
  left: 50%;
}

.bye > * {
  opacity: 0;
}
