.nav {
  position: sticky;
  top: 0;

  width: 100vw;
  height: 4rem;

  display: flex;
  place-items: center;
  justify-content: space-between;
  padding: 2rem;

  color: white;
  background: var(--color-primary-dark);

  transition: opacity 0.3s ease-in-out;
  z-index: 9999;
}
.nav > * {
  transition: opacity 0.3s ease-in-out;
}
.nav ul {
  display: none;
}
.bye > * {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.nav:focus {
  height: 100dvh;
}

@media (min-width: 768px) {
  .nav ul {
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
    gap: 3rem;
  }
}
